/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

#app {
  margin: 0 auto;
  padding: 2rem;
}

@media (min-width: 1024px) {
  #app {
    width: 1280px;
  }
}
